@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: prueba agregar esto para confirmar visualmente */
body {
  background-color: rgb(191 219 254); /* equivalente a bg-blue-200 */
}
